.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputHalloween {
  margin-top: 40px !important;
  width: 50vw;
}

.inputHalloweenRetry {
  width: 100vw !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.questionBox {
  width: 400px;
  background: aliceblue;
  border-width: 2px;
  border: black;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  padding-bottom: 20px;
  align-content: center;
  justify-content: center;
}

.question-container {
  align-self: center;
}

.hi-container {
  padding-top: 50px;
}

.cheater {
  color: crimson;
  font-size: 25px;
}
